[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group Zuk Z2 Plus Maintainers
	owner = group user/Tab Fitts (tabp0le)
[access "refs/for/refs/*"]
	read = group Zuk Z2 Plus Maintainers
	read = group user/Tab Fitts (tabp0le)
	push = group Zuk Z2 Plus Maintainers
	push = group user/Tab Fitts (tabp0le)
	label-Code-Review = -2..+2 group Zuk Z2 Plus Maintainers
	label-Code-Review = -2..+2 group user/Tab Fitts (tabp0le)
	label-Verified = -1..+1 group Zuk Z2 Plus Maintainers
	label-Verified = -1..+1 group user/Tab Fitts (tabp0le)
	rebase = group Zuk Z2 Plus Maintainers
	rebase = group user/Tab Fitts (tabp0le)
	removeReviewer = group Zuk Z2 Plus Maintainers
	removeReviewer = group user/Tab Fitts (tabp0le)
	submit = group Zuk Z2 Plus Maintainers
	submit = group user/Tab Fitts (tabp0le)
[access "refs/heads/*"]
	read = group Zuk Z2 Plus Maintainers
	read = group user/Tab Fitts (tabp0le)
	create = group Zuk Z2 Plus Maintainers
	create = group user/Tab Fitts (tabp0le)
	push = +force group Zuk Z2 Plus Maintainers
	push = +force group user/Tab Fitts (tabp0le)
	pushMerge = group Zuk Z2 Plus Maintainers
	pushMerge = group user/Tab Fitts (tabp0le)
	label-Verified = -1..+1 group Zuk Z2 Plus Maintainers
[access "refs/tags/*"]
	push = +force group Zuk Z2 Plus Maintainers
	push = group user/Tab Fitts (tabp0le)
	push = +force group user/Tab Fitts (tabp0le)
[submit]
	action = rebase if necessary
